<!-- partial:partials/header  -->
<%- include('../layouts/header.ejs') %>

<!-- begin::App -->
<div class="d-flex flex-column flex-root app-root" id="kt_app_root">

  <!-- begin::Page -->
  <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
    <!-- begin::navbar -->
    <div id="kt_app_header" class="app-header d-flex flex-column flex-stack">
      <!-- begin::navbar main -->
      <%- include('../layouts/navbar.ejs') %>
      <!-- end::navbar main -->
      <!-- begin::Separator -->
      <div class="app-header-separator"></div>
      <!-- end::Separator -->
    </div>
    <!-- end::navbar -->

    <!-- begin::Wrapper -->
    <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
      <!-- begin::Sidebar -->
      <div id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
        <!-- begin::Main -->
        <%- include('../layouts/sidebar.ejs') %>
        <!-- end::Main -->
      </div>
      <!-- end::Sidebar -->

      <!-- begin::Main -->
      <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <!-- begin::Content wrapper -->
        <div class="d-flex flex-column flex-column-fluid">
          <!-- begin::Toolbar -->
          <div id="kt_app_toolbar" class="app-toolbar pt-5">
            <!-- begin::Toolbar container -->
            <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
              <!-- begin::Toolbar wrapper -->
              <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
                <!-- begin::Page title -->
                <div class="page-title d-flex flex-column gap-1 me-3 mb-2">
                  <!-- begin::Breadcrumb -->
                  <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-6">
                    <!-- begin::Item -->
                    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                      <a href="" class="text-gray-500">
                        <i class="ki-solid ki-notepad-edit fs-1 text-gray-400 me-n1"></i>
                      </a>
                    </li>
                    <!-- end::Item -->
                    <!-- begin::Item -->
                    <li class="breadcrumb-item">
                      <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                    </li>
                    <!-- end::Item -->
                    <!-- begin::Item -->
                    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">Intro</li>
                    <!-- end::Item -->
                    <!-- begin::Item -->
                    <li class="breadcrumb-item">
                      <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                    </li>
                    <!-- end::Item -->
                    <!-- begin::Item -->
                    <li class="breadcrumb-item text-gray-700">View All Intro</li>
                    <!-- end::Item -->
                  </ul>
                  <!-- end::Breadcrumb -->
                  <!-- begin::Title -->
                  <h1 class="page-heading d-flex flex-column justify-content-center text-dark fw-bolder fs-1 lh-0">Intro List</h1>
                  <!-- end::Title -->
                </div>
                <!-- end::Page title -->
              </div>
              <!-- end::Toolbar wrapper -->
            </div>
            <!-- end::Toolbar container -->
          </div>
          <!-- end::Toolbar -->

          <!-- begin::Content -->
          <div id="kt_app_content" class="app-content flex-column-fluid">
            <!-- begin::Content container -->
            <div id="kt_app_content_container" class="app-container container-fluid">

              <!-- begin::card -->
              <div class="card card-flush border">

                <!-- begin::Card header -->
                <div class="card-header border-0 pt-6">
                  <!-- begin::Card title -->
                  <div class="card-title mb-5">
                    <!-- begin::Search -->
                    <div class="d-flex align-items-center position-relative my-1">
                      <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-4">
                        <span class="path1"></span>
                        <span class="path2"></span>
                      </i>
                      <input type="text" data-kt-customer-table-filter="search" class="form-control form-control-solid w-250px ps-12" placeholder="Search ..." />
                    </div>
                    <!-- end::Search -->
                  </div>
                  <!-- begin::Card title -->

                  <!-- begin::Card toolbar -->
                  <div class="card-toolbar">
                    <!-- begin::Toolbar -->
                    <div class="d-flex justify-content-end">
                      <% for(let j in loginData){ %>
                      <% if(String(loginData[j]._id) === String(locals.admin._id)) {%>
                      <% if(loginData[j].is_admin === 1){ %>
                      <!-- begin::Add button -->
                      <a href="/add-intro" class="btn btn-primary">
                        <i class="ki-duotone ki-plus fs-2"></i>Add Intro</a>
                      <!-- end::Add button -->
                      <% } else if (loginData[j].is_admin === 0){ %>
                      <!--begin::Add button -->
                      <a data-bs-toggle="modal" data-bs-target="#kt_modal_no_access" data-message="You don't have permission to <b>add intro</b>. As a <b>demo admin</b>, you can only view the content." class="btn btn-primary">
                        <i class="ki-duotone ki-plus fs-2"></i>Add Intro</a>
                      <!--end::Add button -->
                      <% } %>
                      <% } %>
                      <% } %>
                    </div>
                    <!-- end::Toolbar -->
                  </div>
                  <!-- end::Card toolbar -->

                </div>
                <!-- end::Card header -->

                <!-- begin::Card body -->
                <div class="card-body py-4">

                  <!-- flash message  -->
                  <% if(flash.error.length> 0){ %>
                  <!-- begin::Alert -->
                  <div class="alert alert-dismissible bg-light-danger d-flex align-items-center mb-10">
                    <!-- begin::Content -->
                    <span class="fs-4 text-danger fw-bold text-center ps-5"><%= flash.error %></span>
                    <!-- end::Content -->
                    <!-- begin::Close -->
                    <button type="button" class="btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
                      <i class="ki-duotone ki-cross fs-1 text-danger fw-bold"><span class="path1"></span><span class="path2"></span></i>
                    </button>
                    <!-- end::Close -->
                  </div>
                  <!-- end::Alert -->
                  <% } %>
                  <!-- complete flash message  -->

                  <!-- begin::Table -->
                  <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_customers_table">
                    <thead>
                      <tr class="text-start text-gray-400 fw-bold fs-5 text-uppercase gs-0">
                        <th class="min-w-100px">Sr.no</th>
                        <th class="min-w-100px">Image</th>
                        <th class="min-w-100px">name</th>
                        <th class="min-w-125px">Description</th>
                        <th class="min-w-100px">Actions</th>
                      </tr>
                    </thead>
                    <tbody class="fw-semibold text-gray-600">
                      <% if (intro.length > 0) { %>
                      <% for (let i = 0; i < intro.length; i++) { %>
                      <!--  begin::tr  -->
                      <tr>
                        <td class="ps-5"><%= i+1 %></td>
                        <td class=" pe-0">
                          <!-- begin::Thumbnail -->
                          <a href="<%= IMAGE_URL + intro[i].image %>" class=" symbol symbol-40px overflow-hidden me-3" data-fslightbox="lightbox-basic">
                            <img src="<%=  IMAGE_URL + intro[i].image %>" alt="<%= intro[i].image %>" class="symbol-label border border-gray-400">
                          </a>
                          <!-- end::Thumbnail -->
                        </td>
                        <td class="text-gray-800 fw-bolder"><%= intro[i].title %></td>
                        <td class=" pe-0">
                          <%= intro[i].description %>
                        </td>
                        <td class="pe-0">
                          <div class="d-flex align-items-center">
                            <% for(let j in loginData){ %>
                            <% if(String(loginData[j]._id) === String(locals.admin._id)) {%>
                            <% if(loginData[j].is_admin === 1){ %>
                            <!-- edit -->
                            <a href="/edit-intro?id=<%= intro[i]._id %>" class="menu-link">
                              <div class="symbol symbol-40px symbol-circle user-select-none">
                                <div class="symbol-label bg-light-primary text-primary"><i class="ki-solid ki-pencil fs-2 text-primary"></i></div>
                              </div>
                            </a>
                            <!-- delete -->
                            <a data-bs-toggle="modal" data-bs-target="#kt_modal_delete_intro<%= i %>">
                              <div class="symbol symbol-40px symbol-circle user-select-none">
                                <div class="symbol-label bg-light-danger text-danger"><i class="ki-solid ki-trash fs-2 text-danger"></i></div>
                              </div>
                            </a>
                            <% } else if (loginData[j].is_admin === 0){ %>
                            <!-- edit -->
                            <a data-bs-toggle="modal" data-bs-target="#kt_modal_no_access" data-message="You don't have permission to <b>edit intro</b>. As a <b>demo admin</b>, you can only view the content.">
                              <div class="symbol symbol-40px symbol-circle user-select-none">
                                <div class="symbol-label bg-light-primary text-primary"><i class="ki-solid ki-pencil fs-2 text-primary"></i></div>
                              </div>
                            </a>
                            <!-- delete -->
                            <a data-bs-toggle="modal" data-bs-target="#kt_modal_no_access" data-message="You don't have permission to <b>delete intro</b>. As a <b>demo admin</b>, you can only view the content.">
                              <div class="symbol symbol-40px symbol-circle user-select-none">
                                <div class="symbol-label bg-light-danger text-danger"><i class="ki-solid ki-trash fs-2 text-danger"></i></div>
                              </div>
                            </a>
                            <% } %>
                            <% } %>
                            <% } %>
                          </div>
                        </td>
                      </tr>
                      <!-- end::tr  -->

                      <!-- begin::Modal - delete intro -->
                      <div class="modal fade" id="kt_modal_delete_intro<%= i %>" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
                        <!-- begin::Modal -->
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 Delete class="modal-title fs-1">Delete Confirmation</h5>
                              <!-- begin::Close -->
                              <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span class="path2"></span></i>
                              </div>
                              <!-- end::Close -->
                            </div>

                            <!-- begin::modal-body -->
                            <div class="modal-body">
                              <p class="text-center fs-3">Are you sure..!! you want to delete this <b> <%= intro[i].title %> </b> intro ..? </p>
                            </div>
                            <!--  end::modal-body -->

                            <!--  begin::modal-footer -->
                            <div class="modal-footer">
                              <a href="/delete-intro?id=<%= intro[i]._id %>"><button type="button" class="btn btn-danger">Delete</button></a>
                            </div>
                            <!-- end::modal-footer -->

                          </div>
                        </div>
                      </div>
                      <!-- end::Modal - delete intro -->

                      <% } %>
                      <% } else { %>
                      <!-- <p class="text-center fs-4">No intro record available.</p>  -->
                      <% } %>
                    </tbody>
                  </table>
                  <!-- end::Table -->
                </div>
                <!-- end::Card body -->

              </div>
              <!-- end::card -->

            </div>
            <!-- end::Content container -->
          </div>
          <!-- end::Content -->

          <!--begin::Modal - Not Authorized -->
          <div class="modal fade" id="kt_modal_no_access" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
            <!--begin::Modal-->
            <div class="modal-dialog  modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title fs-1">Not Authorized</h5>
                  <!--begin::Close-->
                  <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span class="path2"></span></i>
                  </div>
                  <!--end::Close-->
                </div>

                <!-- begin::modal-body -->
                <div class="modal-body">
                  <p class="text-center fs-3 mb-0" id="modal-message"></p>
                </div>
                <!-- end:: modal-body -->

                <!-- begin::modal-footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-bs-dismiss="modal">Ok</button>
                </div>
                <!-- end::modal-footer -->

              </div>
            </div>
          </div>
          <!--end::Modal-->

        </div>
        <!-- end::Content wrapper -->

        <!-- begin::Footer -->
        <div id="kt_app_footer" class="app-footer align-items-center justify-content-center justify-content-md-between flex-column flex-md-row py-3">
          <!-- begin::Copyright -->
          <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-semibold me-1"></span>
            <a  class="text-gray-800 text-hover-primary"></a>
          </div>
          <!-- end::Copyright -->
        </div>
        <!-- end::Footer -->

      </div>
      <!-- end:::Main -->
    </div>
    <!-- end::Wrapper -->
  </div>
  <!-- end::Page -->
</div>
<!-- end::App -->

<!-- begin::Scrolltop -->
<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
  <i class="ki-duotone ki-arrow-up">
    <span class="path1"></span>
    <span class="path2"></span>
  </i>
</div>
<!-- end::Scrolltop -->

<!-- partial:partials/header  -->
<%- include('../layouts/footer.ejs') %>